{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "/css/admin.css" %}" />
{% endblock %}

{% block title %}
  Cotizacion {{ Cotizacion.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo;
    <a href="{% url "admin:Avadell_cotizacion_changelist" %}">Avadell</a>
    &rsaquo;
    <a href="{% url "admin:Avadell_cotizacion_change" Cotizacion.id %}">Cotización {{ Cotizacion.id }}</a>
    &rsaquo; Detalle
  </div>
{% endblock %}

{% block content %}
<h1>Cotización N.- {{ Cotizacion.id }}</h1>
<ul class="object-tools">
  <li>
    <a href="#" onclick="window.print();">Imprimir</a>
  </li>
</ul>
<table>
  <tr>
    <th>Emitido</th>
    <td>{{ cotizacion.created }}</td>
  </tr>
  <tr>
    <th>Cliente</th>
    <td>Edificio Avadell</td>
  </tr>
  <tr>
    <th>Correo Electrónico</th>
    <td><a href="mailto:{{ cotizacion.email }}">{{ cotizacion.email }}</a></td>
  </tr>
  <tr>
    <th>Dirección</th>
    <td>{{ cotizacion.address }}, {{ cotizacion.postal_code }} {{ cotizacion.city }}</td>
  </tr>
  <tr>
    <th>Total amount</th>
    <td>${{ Cotizacion.get_total_cost }}</td>
  </tr>
  <tr>
    <th>Estado</th>
    <td>{% if Cotizacion.paid %}Pagado{% else %}Pago Pendiente{% endif %}</td>
  </tr>
</table>

<div class="module">
  <h2>Items Cotizados</h2>
  <div class="tabular">
    <table style="width:100%">
      <thead>
        <tr>
          <th>Proyecto</th>
          <th>Costo unitario</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for item in Cotizacion.items.all %}
          <tr class="row{% cycle "1" "2" %}">
            <td>{{ item.project.name }}</td>
            <td class="num">${{ item.price }}</td>
            <td class="num">{{ item.quantity }}</td>
            <td class="num">${{ item.get_cost }}</td>
          </tr>
        {% endfor %}
        <tr class="total">
          <td colspan="3">Total</td>
          <td class="num">${{ cotizacion.get_total_cost }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}