
{% extends "admin/change_list.html" %}
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700);
{% load i18n %}
{% load mathfilters %}
{% load humanizelib %}
{% load tz %}
{% block content_title %}
    <h1> Reporte de Proyectos Edificio Avadell </h1>
{% endblock %}
{% block result_list %}
<div class=”results”>
    <table>
        
    <thead>
      <tr style="font-weight:bold ; font-size :large ; border-top:2px solid rgb(0, 16, 16);border-bottom:2px solid rgb(0, 16, 16);">
        <th>
          <div class=”text”>
            Codigo de Proyecto
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Valor Total Cotizado</a>
          </div>
        </th>
        
        <th>
          <div class=”text”>
            <a href=”#”>Valor de Anticipo efectivizado</a>
          </div>
        </th>
        <th>
            <div class=”text”>
              <a href=”#”>
                <strong>Saldo a Cancelar</strong>
              </a>
            </div>
          </th>
           
              <th>
                <div class=”text”>
                  <a href=”#”>
                    <strong> % Avance de Obra</strong>
                  </a>
                </div>
              </th>
              <th>
                <div class=”text”>
                  <a href=”#”>
                    <strong> Fecha de Entrega de Obra</strong>
                  </a>
                </div>
              </th>

      </tr >
    </thead>
    <tbody>
        {% for row in summary %}
        <tr class="{% cycle 'row1' 'row2' 'row3'  %}">
          <td> {{ row.project_code }}  </td>
          <td> $ {{ row.value2 | intcomma }} </td>
          <td> $ {{ row.value3| intcomma  }} </td>
          <td> $ {{ row.valor_a_pagar  | floatformat}} </td>
          <td> <progress value="{{ row.Porcentaje_Pagado | default:0 |  floatformat:0 }}" max="100">
        </progress>
            <span style="font-weight:bold">{{ row.Porcentaje_Pagado | default:0 |  floatformat:0 }}%</span>
             </td>
          <td> {{row.Fecha}}</td>

        </tr>

        
  

        


        {% endfor %}
        <tr style="font-weight:bold; border-top:2px solid #ca0c0c;">
           
            <td> Proyectos: {{ summary_total.total | floatformat }}  </td>
            <td> $ {{ summary_total.valor_cotizado| default:0 | intcomma }} </td>
            <td> $ {{ summary_total.valor_pagado | default:0 | intcomma}} </td>
            <td> $ {{ summary_total.valor_a_pagar | default:0 | intcomma }} </td> 
            <td> {{ summary_total.avance_de_obra | default:0 | floatformat }} % </td> 
                <strong>
                  
                </strong> 
            </td>
        </tr>
      </tbody>

      
    
  </table>
</div>
<h2> {% blocktrans %} Cantidad de proyectos (por: {{ period}}) {% endblocktrans %} </h2>

<style>
  .bar-chart {
    height: 160px;
    padding-top: 60px;
    justify-content: space-around;
    overflow: hidden;
    display:flex;
    table-layout: fixed;
  }
 

  .bar-chart .bar {
      background-color: #ca0c0c;
      flex: 100%;
      align-self: flex-end;
      margin-right: 2px;
      position: relative;
  }
  .bar-chart .bar:last-child {
      margin: 0;
  }
  .bar-chart .bar:hover {
      background-color: #c54545;
  }
  
  .bar-chart .bar .bar-tooltip {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      position: relative;
      z-index: 999;
  }
  .bar-chart .bar .bar-tooltip {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-weight: bold;
      opacity: 0;
  }
  .bar-chart .bar:first-child .bar-tooltip {
      transform: initial;
      text-align: initial;
      left: 0;
  }
  .bar-chart .bar:last-child .bar-tooltip {
      transform: initial;
      text-align: right;
      right: 0;
      left: initial;
  }
  .bar-chart .bar:hover .bar-tooltip {
      opacity: 1;
  }

  body {
    margin: 0;
    font-family: "Dosis",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #cc0606;
}
  </style>

{% timezone 'America/Guayaquil' %}
<div class="results">
    <div class="bar-chart">
    {% for x in summary_over_time %}
        <div class="bar" style="height:{{x.pct}}%">
            <div class="bar-tooltip">
                {{x.total  | default:0 | floatformat}}<br>
                {{x.period | date:"d/m/Y"}}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</div>
{% endtimezone %}
{% endblock %}

{% block pagination %}{% endblock %}

