{% load wagtailcore_tags wagtailimages_tags widget_tweaks%}
{% load bootstrap4 %}
{% load static %}
{# CSS Bootstrap #}
{% bootstrap_css %}

<!-- Estilos ProFix-->
{%endfor%}
	
{%block extrastyle%}
<style>
 .nav-link span:before {
  background: #dd5252;
}
.search-wrap h3 {
  font-weight: 700;
  color: #cd3536;
} 
.btn.btn-primary {
  background: #cd3536;
  border: 1px solid #cd3536 !important;
  color: #fff !important;
}
.bg-primary {
  background: #cd3536 !important;
}
.ftco-footer {
  font-size: 16px;
  background: #f7f7f7;
  padding: 7em 0;
  z-index: 0;
  position: relative;
}
.ftco-footer p {
  color: rgba(134, 17, 17, 0.7);
}

.ftco-footer .ftco-footer-widget ul li a {
  color: rgba(0, 0, 0, 0.6);
  color: #090909;
}
.ftco-footer .ftco-footer-widget ul li a span {
  color: rgba(255, 255, 255, 0.6);
  color: #cd3536;
}
.ftco-footer-social li a {
  height: 50px;
  width: 50px;
  display: block;
  background: #cd3536;
  border-radius: 50%;
  position: relative;
}

p {
  margin-top: 0.2;
  margin-bottom: 0.001rem;
}

.ftco-footer {
  font-size: 15px;
}
.ftco-footer a {
  color: rgba(0, 0, 0, 0.7);
  color: #bd4b4b;
}
</style>

{%endblock%}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>
        {% block title %}
        {{ page.title3 }}
        
        <div class="intro">{{ page.title3|richtext }}</div>
        {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title3 }}</a></h2>
        {{ post.specific.intro }}
        {{ post.specific.body|richtext }}
    {% endfor %}

    {%endblock%}
</title>

<!-- Fuentes y estilos-->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">

<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

<link rel="stylesheet" href="{% static 'css/aos.css' %}">

<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="py-1 bg-black top">
  <div class="container">
      <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
          <div class="col-lg-12 d-block">
              <div class="row d-flex">
                  <div class="col-md pr-4 d-flex topper align-items-center">
                      <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                      <span class="text">+ (593) 999 2835 43</span>
                  </div>
                  <div class="col-md pr-4 d-flex topper align-items-center">
                      <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                      <span class="text">profixinfo@profixgroup.com</span>
                  </div>
                  <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
                      <p class="mb-0 register-link"><a href="#" class="mr-3"></a><a href="#">Ingresar</a></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<!-- Barra de Navegacion-->

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="url('ProFixWeb/index.html')">
        <img src="{% static 'LogoF.png' %}" height="25px" />
    </a>
    <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav nav ml-auto">
          <li class="nav-item"><a href="#home-section" class="nav-link"><span>Inicio </span></a></li>
          <li class="nav-item"><a href="#home-section" class="nav-link"><span>{{index.page.intro|richtext}} </span></a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Barner de servicios-dellate-info-->

  {%for item in page.galleria4.all %}
  {% image item.image scale-100 as bg %}
  {% image2 item.image2 scale-100 as img %}
  {% image2 item.image3 scale-100 as img2 %}
	  
	  <section class="hero-wrap hero-wrap-2" style="background-image: url('{{bg.url}}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-4">
            <h1 class="mb-3 bread">{{ page.title3|richtext}}</h1>
            <h4 class="mb-3 bread">{{ page.intro2|richtext }}</h4>
             <p class="breadcrumbs"><span class="mr-2"><a href="index.html">inicio <i class="ion-ios-arrow-forward"></i></a></span> <span>{{ page.title3 |richtext }} <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>  
    </section>
  

  <!-- Fin de servicios-dellate-info-->

  <!-- Servicios-dellate-info-->

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">{{ page.intro3}}</h2>
            <p>{{ page.infojobs |richtext }}</p>
            <p>
              <img src="url('{{img.url}}')" alt="" class="img-fluid">
            </p>
            <p>{{ page.infojobs2 |richtext }}</p>
            
            <!-- Acerca del Promain-->
            
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="url('{{img2.url}}')" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3>{{ page.intro4 |richtext }}</h3>
                <p>{{ page.intro5 |richtext }}</p>
              </div>
            </div>

              <!-- Fin servicios detalle-->

              <!-- Formulario de contactos-->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Envie su curriculum</h3>
                <form acction= "{% pageurl page %}"method="post" novalidate>
                  {% csrf_token %}
                  {% if form.nom_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.nom_field_errors%}
                    {{error}}
                    {% endfor %}
                  </div>
                  {% endif %}
    
                  <div class="row">
                    <div class="comment-form-wrap pt-5">
                      <div class="form-group">
                        {% for field in form.visible_fields %}
                        <label for="#"> <th> {{ field.label_tag }}</th> </label>
                        {% render_field field class+="form-control" %} 
                        {% endfor %}
                      </div> 
                    </div>
                    <div class="comment-form-wrap pt-5">
                      <div class="form-group">
                        <div class="form-field">
                          <button type="submit" class="btn btn-white px-4 py-3"> Enviar </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> 

          <!-- lista de productos y preciso-->
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Condiciones</h3>
              <p>{{page.term| richtext}}</p>
            </div>
          </div>
        </div>
    </section> 
    {% endfor %} 

<!-- Pie de pagina -->

    <footer class="ftco-footer ftco-section">
      <div class="container-fluid px-md-5">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2"> <img src="{% static 'LogoF.png' %}" height="65px" /></h2>
              <p>ProFesionales en Mantenimiento preventivos y correctivos en sistemas estructurales.</p>
              <p>Siguenos en nuestras redes y conoce nustras promociones. </p>
              <ul class="ftco-footer-social list-unstyled mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Comunidad ProFix</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Cotiza</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>ProFix-Crew</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Servicios</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Consultas</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">ProFix</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Estamos trabajando</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Como Funciona</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>ProFix-jobs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">ProFix-Group</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>ProFix-GROUP</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Noticias</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Consultas</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>ProFix-jobs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Consultas</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Edificio Genesis, Granda Centeno, Quito, Ecuador</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+593 999 23835 43</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope pr-4"></span><span class="text">profixinfo@profixgroup.net</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
	
          
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados y de propiedad intelectual pertencen a:</p>
            <p>PROFIX-SYSTEMS</p>
            <p> Quito-Ecuador</p>
            <p>  <a href="https://colorlib.com" target="_blank">IO-LINK-DESIGN</a>></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- Arrancadores de java script -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/scripts.js'}"></script>
  <script src="{% static 'js/main.js'%}"></script>
  {% bootstrap_javascript jquery='full' %}

    
  </body>
</html>